
/* ------------ Base -------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #455A64;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

h1 {
  color: #FFF;
  font-size: 4rem;
  text-align: center;

}

h1 img {
  height: 3rem;
  width: auto;
}


/* ----------------- Layout -----------------  */

.container {
  display: grid;
  grid-gap: 10px 0px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
  ". aside"
  "input-box aside"
  "input-box aside"
  "footer aside";

}

.input-box {
  grid-area: input-box;
}

aside {
  background-color: #CFD8DC;
  grid-area: aside;
}

footer {
  grid-area: footer;
}

/*  ------------ Modules ------------------ */
.article {
  background-color: white;
  border: 1.5px solid #607D8B;
  height: 10rem;
  margin: 2rem;
  padding: 1rem;
  text-align: left;
}

div {
  display: flex;
  justify-content: space-between;
}

.article button {
  color: #455A64;
  margin-top: 15px;
  font-size: 1.1rem;
  /*border-bottom: 1px solid gray;*/ /*weird issue where it makes the whole button gray*/
}

.article h4 {
  color: #455A64;
  font-size: 1.5rem;
  font-weight: 800;
  padding: .2rem;
}

.article hr {
  background-color: #CFD8DC;
  height: 2px;
}

.article p {
  color: #607D8B;
  text-decoration: underline;
  text-decoration-color: #F2F4F4;
  padding: 1rem 0;
}

.input-form {
  margin: auto;
}

.input-form input {
  display: block;
  font-size: 24px;
  margin: 3rem auto;
  padding: .3rem;
  width: 29rem;
}

.submit-btn {
  background-color: #FFC107;
  border: none;
  color: #FFF;
  display: block;
  font-size: 24px;
  margin: 3rem auto;
  padding: .3rem;
  width: 29rem;
}

/*  -------------- States ------------- */

input::placeholder {
  color: rgba(115, 115, 116, 0.3)
}

.article button:hover {
  cursor: pointer;
  font-weight: 800;
  text-decoration: underline;
  text-decoration-color: #FFC107;
}

.article button+button:hover {
  font-weight: 400;
}

.article p:hover {
  color: #455A64;
  cursor: pointer;
  font-weight: 800;
  text-decoration-color: #FFC107;

}

.submit-btn:hover {
  background-color: #FFD773;
  cursor: pointer;
}

@media (max-width: 950px), (orientation: portrait) {
  .article {
    text-align: left;
    margin: .7rem;
  }
  .article h4 {
    font-size: 1.3rem
  }


  .container {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "input-box"
    "input-box"
    "aside"
    "aside";

  }

  h1 {
    font-size: 1.5rem;
    margin: 1rem;
  }

  h1 img {
    height: 1.5rem;
    width: auto;
  }

  .input-form input {
    display: block;
    font-size: 24px;
    margin: 1rem auto;
    padding: .3rem;
    width: 18rem;
  }

  .submit-btn {
    width: 18rem;
  }


}
