
/* ------------ Base -------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #455A64;
}


/* ----------------- Layout -----------------  */

.container {
  display: grid;
  grid-gap: 10px 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
  ". aside"
  "input-form aside"
  "input-form aside"
  "footer aside";

  height: 49rem;
}

.empty {
}

.input-form {
  grid-area: input-form;
}

aside {
  background-color: #CFD8DC;
  grid-area: aside;
}

footer {
  grid-area: footer;
}

/*  ------------ Modules ------------------ */
img {
    width: 5rem;
}
.website-card {
  background: white;
  border:1px solid #607d8b;
  margin: 1rem;
  padding: 1rem;
}

.website-card h4, p {
    border-bottom: 1px solid #607d8b;
    padding-bottom: .6rem;
    margin-bottom: 1rem;
}
/*  -------------- States ------------- */
